*{
	margin: 0;padding: 0; text-decoration: none;    font-family: 'Roboto', Open Sans, sans-serif;}
h1{
	color:#666;text-align: center;}
	h2{
		color:#666;text-align: center;}
a {
	color: white;}
header {
	background-color:  #666;	color:white;text-align: center;height: 9vh;min-height: 85px;margin: 5px;width:100vw; min-width: 380px;}
header img {
		display: inline;margin: 5px;}
nav {
	background-color: #666;color:white; }	
nav li {
	display: inline;margin: 5px;padding: 5px;vertical-align: middle;                              
}	

main{height:78%;
	}
main img{
	height: 50px;
	width: auto;
}
footer {
	color:#666;text-align: center;vertical-align: bottom;}

form{height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
 .index-content{height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
 }


  .marcas {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 16px;
	padding: 20px;
	height: auto;
}

.marcas img {
	width: 15%;
	height: auto;
	object-fit: contain;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}



  .productos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 16px;
	padding: 20px;
	height: auto;
}



.productos img {
	width: 30%;
	height: auto;
	object-fit: contain;
	border: 1px solid #666;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}


.reseñas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;
    padding: 5%;
    background-color: #f9f9f9;
    
  }

 
  .comentario {
    border-radius: 10px;
    padding: 5%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: auto auto 1fr;
  }

  .comentario .fecha {
    font-size:90%;
    color: #888;
    
  }

 

/*rojo: #DA251C   */
/* gris #666
cambiar nav a desplegable con view port menor a 380